.navbar-custom {
  background-color: #4aaaa5;
}

.background-custom {
  background-color: #ededed
}

.content-custom {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
}

.center-custom {
  text-align:center;
}

.center-custom-child{
  display: inline-block;
}

.comparison-left {
  text-align:left;
}

.comparison-right {
  text-align:right;
}

.center-custom-child{
  display: inline-block;
}

.main-box{
  background-color: #ffffff;
  margin-bottom: 20px;
}

.main-title{
  color: #4aaaa5;
  padding: 20px;
}

.text-left {
  text-align:left;
  padding: 10px;
}

.img-float {
  float: left;
  padding-right: 20px;
  padding-bottom: 30px;
}